html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

html,
body {
  height: 100%; }

@font-face {
  font-family: "americantypewriter";
  src: url("../fonts/americantypewriter.eot");
  src: url("../fonts/americantypewriter.eot?#iefix") format("embedded-opentype"), url("../fonts/americantypewriter.woff") format("woff"), url("../fonts/americantypewriter.ttf") format("truetype"), url("../fonts/americantypewriter.svg#americantypewriter") format("svg");
  font-style: normal;
  font-weight: normal; }
/* CSS Document */
body {
  background-color: #fff;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px; }

img {
  border: none; }

td img {
  display: block; }

td {
  vertical-align: top; }

@font-face {
  font-family: "americantypewriter";
  src: url("americantypewriter.eot");
  src: url("americantypewriter.eot?#iefix") format("embedded-opentype"), url("americantypewriter.woff") format("woff"), url("americantypewriter.ttf") format("truetype"), url("americantypewriter.svg#americantypewriter") format("svg");
  font-style: normal;
  font-weight: normal; }
h1 {
  font-family: "americantypewriter", serif;
  font-size: 37px;
  line-height: 40px;
  font-weight: normal !important;
  margin-bottom: 25px; }

h2 {
  font-family: "americantypewriter", serif;
  font-size: 25px;
  line-height: 33px;
  font-weight: normal !important; }

h3 {
  font-family: "americantypewriter", serif;
  font-size: 22px;
  line-height: 29px;
  display: inline;
  font-weight: normal !important; }

#wrapper {
  vertical-align: top;
  width: 950px;
  margin: 0px auto;
  margin-top: 0px !important;
  padding: 0px;
  height: auto !important;
  overflow: hidden;
  font-family: americantypewriter, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 0px;
  background: url(../images/80.png);
  background-repeat: repeat;
  overflow: hidden;
  color: #6D6E70; }

.classlist {
  height: 70px;
  width: 200px;
  background: #047EBB;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
  float: left; }

.classbox {
  height: 70px;
  width: 70px;
  background: #047EBB;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #fff;
  padding: 15px;
  float: left; }

.nlbox {
  height: 20px;
  width: 140px;
  background: #fff;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  padding: 20px;
  float: left;
  color: #ccc;
  font-size: 12px;
  border: 1px solid #047EBB; }

.classlist:hover {
  background: #6CCEF5; }

.classbox:hover {
  background: #6CCEF5; }

.nlbox:hover {
  background: #6CCEF5; }

#logo {
  width: 403px;
  height: 170px;
  margin-left: 80px;
  float: left;
  overflow: hidden; }

#newsbox {
  width: 245px;
  height: 400px;
  margin-left: 0px;
  background: #D9F0FC;
  float: right;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 30px; }

#newsboxinside {
  width: 225px;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
  padding: 10px; }

#mast {
  width: 950px;
  height: 220px;
  background: #fff;
  overflow: hidden; }

#login {
  font-family: "americantypewriter", serif;
  font-size: 12px;
  width: 250px;
  height: 121px;
  float: right;
  margin-right: 80px;
  overflow: hidden;
  color: #6D6E70;
  padding-top: 20px; }

.login_textbox_small {
  line-height: 15px;
  width: 125px;
  border: 1px solid #ccc; }

#container {
  width: 928px;
  height: 1090px;
  background-color: #fff;
  margin-top: 0px;
  border: 1px #E9E0D7 solid;
  background: url(images/christine.jpg);
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  overflow: hidden; }

#navkj {
  width: 900px;
  height: 30px;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 10px;
  background: #fff; }

#slidekj {
  width: 950px;
  height: auto;
  background: #fff;
  overflow: hidden; }

#mainpic {
  width: 950px;
  height: auto;
  overflow: hidden;
  background: #fff; }

#contentkj {
  width: 100%;
  height: auto;
  padding: 25px 80px 150px 80px;
  background-image: url(../images/house.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden; }

#contentkjsec {
  width: 790px;
  height: auto;
  padding: 25px 80px 200px 80px;
  background-image: url(../images/house.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden; }

#contentkjleft {
  width: 790px;
  height: auto;
  padding: 0pc;
  float: left;
  overflow: hidden;
  color: #6D6E70; }

#contentkjlefthome {
  width: 515px;
  height: auto;
  padding: 0pc;
  float: left;
  overflow: hidden;
  color: #6D6E70; }

#footer {
  width: 950px;
  height: 40px;
  background: #6CCEF5;
  padding: 0;
  overflow: hidden;
  color: #fff;
  font-size: 10px;
  text-align: center;
  display: table; }

#footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#topline {
  width: 100%;
  height: 10px;
  overflow: hidden;
  background-color: #00D097;
  margin-bottom: 10px; }

table.classeskj {
  border: 0px solid #ccc;
  border-collapse: collapse;
  background: #fff; }

td.classeskj {
  width: 25%;
  border: 1px solid #ccc;
  text-align: center;
  border-collapse: collapse;
  padding: 20px; }

table.classeskj2 {
  border: 0px solid #ccc;
  border-collapse: collapse;
  background: #fff; }

td.classeskj2 {
  width: 16%;
  border: 1px solid #ccc;
  text-align: center;
  border-collapse: collapse;
  padding: 20px; }

a:link {
  text-decoration: none;
  color: #5CA8DC; }

a:visited {
  text-decoration: none;
  color: #5CA8DC; }

a:active {
  text-decoration: none;
  color: #5CA8DC; }

a:hover {
  text-decoration: underline;
  color: #5CA8DC; }

#logbut {
  width: 125px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #6ccef5;
  background: #fff;
  color: #6ccef5;
  text-align: center;
  line-height: 30px;
  float: right;
  margin-top: 88px; }

#logbut a:link {
  text-decoration: none;
  color: #666; }

#logbut a:visited {
  text-decoration: none;
  color: #666; }

#logbut a:active {
  text-decoration: none;
  color: #666; }

#logbut a:hover {
  text-decoration: none !important;
  color: #fff !important; }

#logbut:hover {
  color: #fff !important;
  background: #6ccef5;
  text-decoration: none !important; }

.applybut {
  width: 200px;
  height: 50px;
  border: 1px solid #6ccef5;
  background: #fff;
  color: #6ccef5;
  text-align: center;
  line-height: 50px;
  float: left;
  margin-left: 0px;
  overflow: hidden; }

.applybut a:link {
  text-decoration: none;
  color: #666; }

.applybut a:visited {
  text-decoration: none;
  color: #666; }

.applybut a:active {
  text-decoration: none;
  color: #666; }

.applybut a:hover {
  text-decoration: none !important;
  color: #fff !important; }

.applybut:hover {
  color: #fff !important;
  background: #6ccef5;
  text-decoration: none !important; }

.design1 {
  font-family: "americantypewriter";
  font-size: 12px;
  background: #6CCEF5;
  color: #fff !important;
  text-transform: uppercase;
  border: 0px solid #dbdbdb;
  padding: 3px 10px;
  cursor: pointer;
  margin-top: 0px; }

.design1:hover {
  background: #0091B1; }

.clearfloat {
  height: 1px;
  clear: both; }

.staffout {
  height: 300px;
  width: 240px;
  overflow: hidden;
  float: left;
  background-image: url(../images/staffbg.jpg);
  background-repeat: no-repeat; }

.staffin {
  height: 215px;
  width: 165px;
  background: #fff;
  margin-top: 27px;
  margin-left: 32px;
  overflow: hidden; }

.staffname {
  width: 165px;
  margin-left: 32px;
  text-align: center;
  margin-top: 3px; }

.staffcontent {
  float: right;
  width: 530px; }

.form-horizontal .control-label {
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: 26px; }

.form-horizontal .col-md-6 {
  margin: 0;
  padding: 0; }

.form-group {
  margin-bottom: 0; }

.form-group .col-sm-6 {
  padding-left: 0; }

.checkbox label, .radio label {
  line-height: 20px; }

.form-horizontal .checkbox, .form-horizontal .radio {
  padding-top: 0; }

.cus_but {
  line-height: 15px;
  font-family: arial;
  color: #000; }

.main-nav {
  background-color: #fff;
  width: 82%;
  float: left; }

.navbar-nav > li > a {
  font-family: 'americantypewriter';
  font-size: 10pt;
  text-align: center;
  color: #6D6E70;
  border-width: 0px;
  border-style: none;
  border-right: 1px solid #6D6E70;
  padding: 0 10px;
  text-decoration: none;
  text-transform: lowercase; }

.nav_search_wrap {
  background-color: #fff;
  width: 100%;
  float: left; }

.search-box {
  line-height: 0;
  padding-top: 0;
  float: right;
  width: 100%; }

.catsearch {
  float: right;
  width: 18%; }

.cat_textbox_small {
  margin-right: 3px;
  font-size: 12px;
  line-height: 10px;
  width: 82%;
  height: 15px;
  font-family: arial; }

.go_button {
  border: 0;
  line-height: 0;
  text-indent: -9999px;
  background: url(../images/go.png) no-repeat left top;
  width: 26px;
  height: 14px; }

.title.custom_head {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #5ca8dc;
  display: block;
  color: #fff; }

.widget.has-divider {
  background: #D9F0FC; }

.title a {
  font-size: 14px; }

.news-item {
  padding: 0 10px; }
  .news-item p {
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 10px; }

h4.title {
  line-height: 16px; }

.time_date {
  font-size: 11px;
  line-height: 10px;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 5px; }

.widget.has-divider > a {
  font-size: 12px;
  margin-left: 10px;
  display: block; }

.flex-control-nav.flex-control-paging {
  display: none; }

.pardet {
  padding: 30px 0 0; }
  .pardet p {
    font-size: 16px; }
  .pardet .details {
    padding-bottom: 20px; }
    .pardet .details .title {
      color: #6D6E70;
      border-bottom: 1px solid #6D6E70; }

.img_lft {
  float: left;
  width: 63px;
  height: 63px;
  margin-right: 8px; }

.single_news {
  clear: both; }

.images_panel, .video_panel {
  width: 100%;
  float: left;
  padding-bottom: 10px; }

.flex-direction-nav a {
  width: 53px;
  height: 56px; }

.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
  left: -1px;
  z-index: 1;
  opacity: 1; }

.flex-direction-nav .flex-next {
  left: auto;
  right: -1px; }

@media screen and (max-width: 767px) {
  #contentkj {
    width: 100%;
    padding: 10px; }

  #logo, #slidekj,
  .catsearch, .main-nav, #wrapper, #mast, #login, #content {
    width: 100%;
    height: auto;
    margin: 0; }

  .form-horizontal .control-label {
    padding: 0; }

  #login {
    padding: 0 41px; }

  label:empty {
    display: none; }

  .catsearch {
    padding: 10px 21px; }

  .navbar-header {
    top: -101px;
    position: absolute;
    right: 0; }

  .main-nav {
    position: relative; }

  .navbar-toggle {
    background-color: #6EB4E5; }

  .navbar-toggle .icon-bar {
    clear: both;
    background-color: #fff; }

  .navbar-nav > li {
    border-bottom: 1px solid #ccc; }
    .navbar-nav > li:first-child {
      border-top: 1px solid #ccc; }
    .navbar-nav > li > a {
      padding: 5px 10px;
      text-align: left;
      border-right: 0; }
      .navbar-nav > li > a .fa {
        float: right; }

  #logo {
    text-align: center; }

  #login {
    text-align: center; } }
